{% extends "base.html" %}

{% block content %}
<div class="section">
        <h2>About ShExStatements</h2>
        
        <h2>Objectives</h2>
        <ul>
        <li>Easily generate shape expressions (ShEx) from CSV and Spreadsheet files </li>
        <li>Simple 5-column syntax</li>
        </ul>
        <h3>Source code</h3>
        <ul>
         <li><a href="https://github.com/johnsamuelwrites/ShExStatements">ShExStatements on Github</a></li>
        </ul>
        <h2>Conferences</h2>
        <ul>
  	  <li><b>ShExStatements: Simplifying Shape Expressions for Wikidata </b>, John Samuel, Wiki Workshop 2021 (held at The Web Conference 2021), 14 April 2021 (<a href="https://wikiworkshop.org/2021/papers/Wiki_Workshop_2021_paper_14.pdf">Link</a>, <a href="https://figshare.com/articles/presentation/ShExStatements_Simplifying_Shape_Expressions_for_Wikidata/14398916">PDF</a>)</li>
        </ul>
        <h2>Demonstration</h2>
        <p>Online demonstrations are also available:</p>
        <ul>
          <li><a href="https://shexstatements.toolforge.org/">https://shexstatements.toolforge.org/</a></li>
          <li><a href="https://tools.wmflabs.org/shexstatements/">https://tools.wmflabs.org/shexstatements/</a></li>
        </ul>
 
        <h2>Author</h2>
        <ul>
          <li>John Samuel</li>
          <li><a href="https://github.com/johnsamuelwrites/ShExStatements/graphs/contributors">Contributors</a></li>
        </ul>
        <h3>Technologies</h3>
        <p>ShExStatements can be tested on any modern browser and on the command line.
           Following are the technologies used for creating ShExStatements:
        </p>
        <ul>
         <li>HTML, Javascript, CSS, Python</li>
	 <li>Python libraries: flask, ply, pyshex, openpyxl, xlrd, odfpy</li>
        </ul>
        
        <h2>Acknowledgements</h2>
        
        <ul>
        <li>Wikidata Community</li>
        <li>Wiki Techstorm 2019</li>
        </ul>
        
        <h2>Archives and Releases</h2>
        
        <ul>
        <li><a href="https://doi.org/10.5281/zenodo.3723870">Zenodo</a></li>
        <li><a href="https://archive.softwareheritage.org/browse/origin/https://github.com/johnsamuelwrites/ShExStatements/directory/">Software Heritage</a></li>
        <li><a href="https://github.com/johnsamuelwrites/ShExStatements/blob/master/RELEASE.md">Release Notes</a></li>
        </ul>
        
        <h2>Licence</h2>
        
        <p>All code are released under GPLv3+ licence. The associated documentation and other content are released under <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA</a>.</p>
      </div>
{% endblock %}
